In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx
from networkx import (draw, DiGraph, Graph)

Import bowtie output file

In [2]:
alignedUMI = np.loadtxt("/camp/lab/znamenskiyp/home/shared/projects/turnerb_MAPseq/Sequencing/Processed_data/BRAC5676.1h/trial/unzipped/barcodesplitter/bowtiealignment1_4.txt", dtype=int)

print(alignedUMI)

[[     1      1]
 [     2      2]
 [     2      3]
 ...
 [274748 274748]
 [274750 274750]
 [274751 274751]]

Now group according to connections within each row

In [3]:
G=nx.Graph()
G.add_edges_from(alignedUMI)
UMIs =(sorted(nx.connected_components(G), key = len, reverse=True))

For each set of aligned UMIs in list take the lowest UMI number as UMI label and the count number of UMIs in each set.

In [138]:
UMI_sorted = pd.DataFrame(columns=['UMI', 'Frequency'])

for i in UMIs:

    UMI_sorted = UMI_sorted.append({'UMI': (min(i)), 'Frequency': (len(i))},ignore_index=True)

In [141]:
print(UMI_sorted)

          UMI Frequency
0       61625      2103
1      110953      1879
2      240603      1392
3      105316      1313
4      158753      1177
...       ...       ...
83421  274747         1
83422  274749         1
83423  274748         1
83424  274750         1
83425  274751         1

[83426 rows x 2 columns]

Remove UMI counts of less than 5

In [146]:
UMI_final = UMI_sorted[UMI_sorted.Frequency >4]

In [147]:
UMI_final

         UMI Frequency
0      61625      2103
1     110953      1879
2     240603      1392
3     105316      1313
4     158753      1177
...      ...       ...
9139  274084         5
9140  274164         5
9141  274470         5
9142  274602         5
9143  274658         5

[9144 rows x 2 columns]

In [148]:
UMI_final.to_csv("/camp/lab/znamenskiyp/home/shared/projects/turnerb_MAPseq/Sequencing/Processed_data/BRAC5676.1h/trial/unzipped/barcodesplitter/UMI_final.txt", header=None, index=None, sep=' ', mode='a')